@import "bootstrap/scss/functions";

@import "./assets/scss/helpers/variables";

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1108px,
);

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  // font-size: 20px;
  line-height: 1.5;
  font-family: "San Francisco", "PingFangSC", Helvetica, Arial,
    "Microsoft JhengHei", sans-serif;

  .custom-btn {
    color: $primary;
    cursor: pointer;
    // border-radius: 8px;
    // padding: 10px 15px;
    padding: 0 5px !important;
    transition:
      background-color 0.3s ease,
      color 0.1s ease;

    &:hover {
      background-color: rgb(246, 202, 119);
    }

    &:active {
      border-color: #e0e0e0;
      transform: scale(0.95);
    }
  }
}

@import "bootstrap/scss/bootstrap";
